.login-box{
    width: 30%;
    height: 80%;
    filter: none;
}

.signup-box{
    width: 60%;
    filter: none;
}

.round{
    border-radius: 10px;
}

.login-box-background{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}