@media screen and (max-width: 600px) {
    .login-box, .signup-box{
        width: 100% !important;
    }

}

.login-box{
    width: 30%;
    height: 85%;    
    z-index: 5;
    position: relative;
    filter: drop-shadow(2px 4px 6px black);
}

.signup-box{
    width: 30%;
    height: 85%;    
    z-index: 5;
    position: relative;
    filter: drop-shadow(2px 4px 6px black);
}

.round{
    border-radius: 10px;
}

.login-box-background{
    background-color: beige;
}
.login-page-background{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    right: 5%;  
}
