.banner-text{
  font-size: xx-large;
  color: azure; 
  position: relative;
}

.home-background {
  background-image: url('./login-screen-banner-blurred.png');
  background-attachment: fixed;
  background-position: center;
}